{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "amd": true,
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "plugin:react/recommended"
  ],
  "rules": {
    "no-multiple-empty-lines": "error",
    "no-process-env": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "semi": [
      2,
      "always"
    ],
    "no-trailing-spaces": "error"
  }
}