{
  "parserOptions": {
    "ecmaVersion": 8,
    "no-multiple-empty-lines": "error",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "amd": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended"
}